<%- include("layout/header")  %>
    <main>
      <form action="/" method="POST">
        <input
          type="text"
          name="pLanguage"
          id=""
          placeholder="programming language"
        />

        <button type="submit">Add</button>
      </form>

      <ul>
        <% if(plNames.length > 0) { %> <% for(let x=0; x < plNames.length; x++){
        %>
        <li><%= plNames[x] %></li>
        <% } %> <% }else{ %>
        <p>No data found</p>
        <% } %>
      </ul>
    </main>
  <%- include("layout/footer")  %>

  </body>
</html>
